{
  "env": {
    "node": true,
    "mocha": true
  },
  "globals": {
    "sails": true
  },
  "extends": ["eslint:recommended", "semistandard"],
  plugins: [
    "mocha"
  ],
  "rules": {
    "no-unused-vars": 0,
    "quotes": [1, "single"]
  }
}
